extends ../../layout/layout

block append config
    -
        title = "Let's Start Cuttin Scrap";
        description = "When crafting from the heart, perfection is not the main goal. Here at Cuttin Scrap I push towards having fun and using what you have around the house. These projects are not meant for Muffy McPerfect Pants, but for the everyday crafter. I, Rhiannon Walker, fight Atypical Carcinoid Cancer of the lungs everyday, and use crafting as my way to let loose. Come on a journey with me, where the road is never straigh";
        image = "/static/img/woodland-applique.jpg";
        url = "http =//www.cuttinscrap.com";
        card = "/static/img/woodland-applique.jpg";
        fb_app_id = 'NA';
        twitter ='@cuttinscrap';
        disqus =true;
    -
block content
    

    h1 Personal Blog

    p I am a surviving cancer patient in my everyday life. Cancer is a scary word, but attitude is everything.  What type of cancer you ask?  I have Atypical Carcinoid Cancer of the lung.  Rare, I know.  Cutting Scrap was started as a way to keep my mind busy and help me feel productive.  I will try to keep my crafting and my medical updates separate, but I am only human.  In this blog I will post medical updates, family update, and just venting updates.  This blog is my release.  I don’t need opinions on different treatments for my disease. With that being said, support and loving thoughts are terrific!

   
    div.card    
        include:markdown-it blog_7.md    

    div#next.card

    div#last.card

block script
    script.
        var xml = new XMLHttpRequest()
        xml.onreadystatechange = function () {
            if (xml.readyState == 4) {
                // here I need to work with data
                // xml.responseText
            }
        }
        xml.open("GET", '/blog', false);
        xml.send(null)
        var container = document.implementation.createHTMLDocument().documentElement;
        container.innerHTML = xml.responseText;
        title = container.querySelector("meta[property='og:title']").getAttribute("content");
        description = container.querySelector("meta[property='og:description']").getAttribute("content");
        console.log(title)
        console.log(description)

        next_post = document.querySelector('#next')
        next_post.innerHTML = `
        <h1>${title}</h1>
        <p>Check out our Next Post<p>
        <p>${description}</p>
        `

        last_post = document.querySelector('#last')
        last_post.innerHTML = `
        <h1>${title}</h1>
        <p>Dont Miss Our Last Post<p>
        <p>${description}</p>
        `