extends ../../layout/layout
        
block content
    h1 Support Us

    p Help keep the channel going so that we can keep producing more content.

    div#Support-content
        div#Patreon-Support.Support
            include ../../layout/patreon.pug

        div#Amazon-Support.Support

    #gofundme
        p Support Rhiannon in her journy to battle cancer #[a(href="https://www.gofundme.com/Aylasmedicalfund", title="gofundme").gofundme gofundme]






