extends ../../../layout/layout

block append config
    -
        config.title = "Goodbye Dignity";
        config.description = "When I woke up on Monday, I had this pressure in my chest that I just couldn’t shake.  The tears started rolling and I felt as if I was getting jammed into a mini refrigerator by a sumo wrestler.  I was cold, oh so cold.  My mind was racing and I was shaken to the core.";
        config.url = "http://www.cuttinscrap.com/blog/22";
        config.card = "summary";
        config.disqus = true;
        config.blog = 22;
        config.time = 'February 8, 2018';
    -

    

block content

    div.card    
        include:markdown-it content.md    



