extends ../../../layout/layout

block append config
    -
        config.title = "Weighted Blanket";
        config.description = "Weighted Blankets can be used for a variety of benefits.  Anytime an adult or child needs deep pressure to assist with grounding a weighted blanket could help. The weight from the blanket helps with the release of serotonin";
        config.image = "www.cuttinscrap.com/static/img/projects/4/hqdefault.webp"
        config.url = "http://www.cuttinscrap.com/project/4/";
        config.card = "summary";
        config.disqus = true;
        config.project = 4;
        config.time = 'February 12, 2018'
    -

    

block content

    .card    
        include content



