extends ../layout/layout
        
block content
    div#hero.card
        h1 Welcome!
        p
            em to Cuttin Scrap

        //- img(src="/static/img/Projects/woodland-applique.jpg", alt="")
        include ../layout/about





