body
    background-color: lighten(gainsboro, 10%)
    min-height: 200vh
 
#hero   
    img
        display: block
        border-radius: $br
        box-shadow: $bs
        max-width: 300px
        margin: 3rem auto
    
