body
    border: 1rem solid rgba(0, 0, 0, 0)
    @include breakpoint(sm)
        display: grid
        grid-template-areas: "logo logo"  "nav nav" "content about_rhiannon" "content socials" "disqus disqus" "foot foot"
        grid-template-columns: 2fr 1fr
        grid-template-rows: auto auto 600px auto
        grid-gap: 3rem
        
#disqus
    grid-area: disqus
    margin: auto
    width: 500px
    
#content
    grid-area: content
    max-width: 800px
    
    margin: auto
    margin-top: 0rem
    
    .card
        padding-bottom: 5rem 
    

    // border: 1rem solid rgba(0, 0, 0, 0)
    // background-color: white
    // border-radius: $br  
    // box-shadow: $bs 
    
        
