body
    border: 1rem solid rgba(0, 0, 0, 0)
    // @include breakpoint(sm)
        // display: grid
        // grid-template-areas: "nav nav" "intro intro" "blog-map content" "disqus disqus" "instagram instagram" "foot foot"
        // grid-template-columns: 1fr 2fr
        // grid-template-rows: auto auto 600px auto
        // grid-gap: 1rem
        
// #blog-promo
//     margin-top: 5rem
//     margin-bottom: 10rem
#intro
    grid-area: intro
#hero
    grid-area: nav
#instagram
    grid-area: instagram
#blog-map
    grid-area: blog-map
#blog-promo
    grid-area: blog-map
#disqus
    grid-area: disqus
    margin: auto
    width: 500px
    
#content
    display: flex
    justify-content: center
    flex-wrap: wrap
    flex-grow: 1
    grid-area: content
    // max-width: 800px
    
    margin: auto
    padding: 0.5rem
    
    .card
        padding-bottom: 5rem 
    

    // border: 1rem solid rgba(0, 0, 0, 0)
    // background-color: white
    // border-radius: $br  
    // box-shadow: $bs 
    
        
