extends ../../layout/layout

block append config
    -
        config.disqus = true;
        config.title = 'Project 1';
    -

block content

    div#projects
        h1 Projects

        p 
        
        div.card    
            include:markdown-it Project_1.md


