h1 The Bravery Within
p
    em.
        March 19, 2018 Rhiannon Walker

.pad
    img.right(src="/static/img/blog/20180226_163330.jpg", alt="Wyatt")
p.
    Today I picked up the kids for the first time in over 6 months.  Today I watched as bravery took over my 5 year olds face and he held it together when his mom lost her strength.  He held it together to figure out how to unbuckle his car seat, (which he has never done before), out of fear to help his mom.  He held it together as he sprinted up the lane the length of a football field.  He sprinted back to the van and assisted Ayla out of her car seat.  He held her hand and walked paitently back up the lane.  He stayed strong while I told him I was calling an ambulance.  Today I watched as my baby turned into a boy. I couldn't be prouder of him. He is an outstanding, caring, and loving kid.
    
p.
    I'm ok. Still in the ER. There was a ditch fire that got out of hand and a traffic jam that stuck me right in the path.  My lung couldn't take it and instantly shot pain through my remaining left lung. I'll be ok.
p.
    Wyatt showed a level of bravery I would have never expected.  I'm proud to know we are raising him right.
p.
    My heart is full.  I love my little Bubby.
