extends ../../../layout/layout

block append config
    -
        config.title = "The Bravery Within";
        config.description = "Today I picked up the kids for the first time in over 6 months.  Today I watched as bravery took over my 5 year olds face and he held it together when his mom lost her strength.  He held it together to figure out how to unbuckle his car seat, (which he has never done before)";
        config.url = "http://www.cuttinscrap.com/blog/23/";
        config.card = "summary";
        config.disqus = true;
        config.blog = 23;
        config.time = 'March 19, 2018';
        config.image = 'http://www.cuttinscrap.com/static/img/blog/20180226_163330.jpg'
    -

    

block content

    div.card    
        include content  



