extends ../../layout/layout

block append config
    -
        config.title = "Uses";
        config.description = "What We Use at Cuttin Scrap";
        config.url = "http://www.cuttinscrap.com/uses";
        config.card = "summary";
        config.disqus = true;
        config.time = 'January 1, 2018';
        config.blog_promo = 1;
        config.project_promo = 1;
        config.disqus = 0;
    -
block intro
    h1 Tools We Use
    p
        em at Cuttin Scrap
block content

    div#uses

        div.card
            h4 Cutting
            p
                em for cuttin scrap
            
            ul
                li Rowenta Effective Comfort – Iron
                li Gingher 8 Inch Spring Action Dressmaker Shears
                li Ginher small
                li Ginher Rotary Cutter
                li June Tailor Inc Cutting Mat
                li Friskars Pinking Shears 
                li June Tailor Inc Shape Cut JT-796
                li June Tailor Inc Get Squared JT-741
                li Fiskars Donna Dewberry Collection 18in Ruler


        div.card
            h4 Sewing
            p
                em for putting it back together

            ul
                li Brother Pacesetter PS-3700 – machine
                li Quilters Touch Machingers Gloves

        div.card
            h4 notions
            p
                em for buttoning

            ul
                li snap buttons

        div.card
            h4 assembly
            p
                em for temporaty hold

            ul
                li clips
                li Schmetz Jersey Needles 130/705 H SUK 80/12
                li Schmetz Universal 130/705 H 15x1H 80/12
                li Universal Feet Kit - SMBalways

        div.card
            h4 Furniture
            p
                em for comfort

            ul
                li Chair
                li Sewing Table
                li Ironing Table


        div.card
            h4 Camera
            p
                em for filming
            
            ul
                li Sony NEX5
                li LG V30
                li Tripod
                li lighting
                li 
