extends ../../../layout/layout

block append config
    -
        config.title = "When to pause Netflix?";
        config.description = "There is something about being sick, that also makes you paranoid.  I will start to wheeze or cough up blood and instantly feel the need to retreat into a spiral of Google.  I'm not not a hypochondriac, but I am seriously ill.";
        config.url = "http://www.cuttinscrap.com/blog/18";
        config.card = "summary";
        config.disqus = true;
        config.blog = 18;
    -

    

block content

    div.card    
        include:markdown-it content.md    



