extends ../../layout/layout
        
block content

    div.sm-card
        h5 Contact Us
        p 

        p 
            a(href="mailto:cuttin.scrap@gmail.com")
                i.fa.fa-envelope(aria-hidden='true') Email cuttin.scrap@gmail.com
