extends ../../layout/layout
        
block content
    h1 Contact Us

    p 
        a(href="mailto:cuttin.scrap@gmail.com")
            i.fa.fa-envelope(aria-hidden='true') Email cuttin.scrap@gmail.com
