#latest_video.card
    h1 #[a(href='https://www.youtube.com/channel/UCg7ZCfygUJMoMC6AcfIaH1A') #[i.fa.fa-youtube(aria-hidden='true')] CuttinScrap]
    p
        em#youtube_title Check out the latest video

    iframe#youtube_video.video(width='600' height='340' frameborder='0' allowfullscreen='')
