nav.init
    include socials 
    #site-navigation
        ul
            li 
                a(href="/") Home
            li 
                a(href="/project") Project
            li 
                a(href="/blog") Blog
            li 
                a(href="/downloads") Downloads
            li 
                a(href="/uses") Uses
            li 
                a(href="/support") Support
            li 
                a(href="/about") About
            li 
                a(href="/contact") Contact

